body{
    font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}

select{
	height: 38px !important;
}

a {
    text-decoration: none;
    color: white;
}

.hp-header{
    background-color: #393D49;
    border-bottom: 1px solid #f6f6f6;
	box-sizing: border-box;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
    height: 50px;
}
.hp-site-menu{
	background-color: #20222A;
  	color: #fff;
 	width: 220px;
    top: 0;
  	z-index: 1001;
 	position: fixed;
	left: 0;
    bottom: 0;
}
.hp-site-scroll{
	cursor:pointer;
	width: 240px;
	position: relative;
    height: 100%;
    overflow: hidden;
}
.hp-logo{
	position: fixed;
    left: 0;
    top: 0;
    z-index: 1002;
    width: 220px;
    height: 49px;
    padding: 0 15px;
    box-sizing: border-box;
    overflow: hidden;
    font-weight: 300;
    background-repeat: no-repeat;
    background-position: center center;
    color: rgba(255,255,255,.8);
    background-color: #20222A;
  	box-shadow: 0 1px 2px 0 rgba(0,0,0,.15);
  	line-height: 50px;
 	font-size: 16px;
}
.hp-nav-tree{
	top: 50px;
	width: 220px;
    margin-top: 50px;
    background: 0 0;
    padding: 0;
    position: relative;
    color: #fff;
    border-radius: 2px;
    font-size: 0;
    box-sizing: border-box;
    margin: 0;
    display: block;
    list-style-type: disc;
}
.hp-nav-item{
	display: block;
    width: 100%;
    line-height: 45px;
    position: relative;
    vertical-align: middle;
    font-size: 15px;
    margin: 0;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    list-style: none;
    color: #fff;
    text-align: -webkit-match-parent;
}
.hp-nav-child{
	background-color: rgba(0,0,0,.3)!important;
	background: 0 0;
	color: #fff;
	position: relative;
    z-index: 0;
    top: 0;
    border: none;
    box-shadow: none;
    display: none;
    left: 0;
    min-width: 100%;
    line-height: 36px;
    /* padding: 5px 0; */
    border-radius: 2px;
  	white-space: nowrap;
  	font-size: 15px;
  	margin: 0 !important;
  	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
dd{
    -webkit-margin-start: 0px !important;
}
.hp-nav-item a {
	text-decoration: none;
    color: white;
	display: block;
	width: 100%;
    height: 40px;
    line-height: 40px;
    padding-left: 35px;
    padding-right: 30px;
}
.hp-header-right{
    position: absolute!important;
    right: 0;
    top: 0;
    padding: 0px;
    margin: 0px;
    color: #fff;
    border-radius: 2px;
    box-sizing: border-box;
}
.hp-header-right>li{
	cursor:pointer;
	list-style: none;
	position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 50px;
    line-height: 45px;
}

.hp-header-right>li:last-child{
	margin-right: 10px;
}

.hp-header-right>li:not(:last-child) {
    padding-right: 10px;
}

.hp-header-right>li>a{
	display: block;
}
.hp-nav-bar{
	display: block;
    height: 3px;
    opacity: 0;
    background-color: #009688;
}
.hp-header-right>li:hover .hp-nav-bar{
    opacity:1;
}

.hp-nav-item div{
    width: 100%;
	display: inline-flex;
}

.hp-nav-tree-bar{
    width: 0.3em;
    display: block;
    height: 40px;
    opacity: 0;
    background-color: #009688;
}

.hp-nav-item div:hover .hp-nav-tree-bar{
	opacity: 1;
}

.hp-nav-child:hover .hp-nav-tree-bar{
	opacity: 1;
}

/*�����ʽ*/
table {
	color: #666;
	width: 100%;
	background: #ccc;
	border-collapse: collapse;
	font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}
/*border-collapse:collapse�ϲ�����߾�(ȥ�����Ԫ��Ĭ�ϵ�2����������߾�*/
th, td {
	height: 39px;
	line-height: 25px;
	text-align: center;
	border: 1px solid #ccc;
}

th {
	background: #f2f2f2;
	font-weight: normal;
}

tr {
	background: #fff;
}

tr:hover {
	background: #e8e6e6;
}

td a {
	color: #06f;
	text-decoration: none;
}

td a:hover {
	color: #06f;
	text-decoration: underline;
}

.hp-context {
    top: 50px;
    position: fixed;
    left: 220px;
    width: calc(100% - 220px);
    height: calc(100% - 50px);
}

.hp-context-page{
	margin: 10px;
}

.hp-nav-child a {
    padding-left: 65px;
}

.page_fl{
	float: left;
	margin-top: 10px;
	font: 14px Helvetica Neue,Helvetica,PingFang SC,Tahoma,Arial,sans-serif;
}

input[type="checkbox"] {
    width: 15px;
    height: 15px;
}

.bt_top_bar{
		margin-bottom: 10px;
}
button {
    display: inline-block;
    height: 38px;
    line-height: 38px;
    padding: 0 16px;
    background-color: #009688;
    color: #fff;
    white-space: nowrap;
    text-align: center;
    font-size: 14px;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.bt_update{
    background-color: #FF9800;
}

.bt_delete{
	background-color: #F44336;
}

.bt_save{
	background-color: #009688;
}

.bt-clear {
    background-color: #FF5722;
}

.bt_close{
	color: black;
    border: solid 1px #b1b1b1;
    background-color: white;
}

.bt_reset{
	background-color: #FF5722;
}

.bt_op{
    height: 30px;
    line-height: 30px;
}

.iconfont{
	font-size: 18px !important;
}

.hp-form{
	
}

.hp-form-item{
    margin-bottom: 15px;
    clear: both;
}

.hp-form-label{
    width: 110px;
    padding: 8px 15px;
    height: 38px;
    line-height: 20px;
    border-width: 1px;
    border-style: solid;
    border-radius: 2px 0 0 2px;
    text-align: center;
    background-color: #FBFBFB;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    box-sizing: border-box;
    border-color: #d2d2d2;
    float: left;
    display: block;
    font-weight: 400;
    position: relative;
    cursor: default;
}

.hp-input-block{
    margin-left: 110px;
    min-height: 36px;
    position: relative;
    padding: 0;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    display: block;
}

.hp-input{
    display: block;
    width: 100%;
    padding-left: 10px;
    border-radius: 0 2px 2px 0;
    height: 34px;
    line-height: 1.3;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-color: #d2d2d2;
}

.hp-input-line{
    width: 180px;
	margin-right: 20px;
    padding-left: 10px;
    border-radius: 0 2px 2px 0;
    height: 34px;
    line-height: 1.3;
    border-width: 1px;
    border-style: solid;
    background-color: #fff;
    border-color: #d2d2d2;
}

.hp-label{
	margin-right: 10px;
}